html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: inherit;
  width: inherit;
}

html,
body {
  background: url("../public/images/background.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
}

html {
  background-size: cover;
}

body {
  background-repeat: repeat-y;
  backdrop-filter: blur(10px);
  background-size: contain;
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#main {
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.carousel-indicators {
  top: 100%;
}